.top_section{
    margin-top: 50px;
}

.services_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.services_container .card{
    width: 31%;
    padding: 50px 40px;
    background: var(--color-bg-variant);
    border-radius: 1rem;
    transition: var(--transition);
    border: 1px solid transparent;
}

.services_container .card:hover{
    background: transparent;
    border-color:var(--color-primary);
}

.services_container .icon{
    font-size: clamp(25px, 6vw, 70px);
    margin-bottom: 20px;
    color: var(--color-primary);
}

.services_container h3{
    margin-bottom: 20px;
}

.services_container p{
    font-size: 14px;
}

@media (max-width: 992px) {
  .services_container .card{
    width: 45%;
  }
}

@media (max-width: 768px) {
  .services_container .card{
    width: 48%;
  }
}

@media (max-width: 480px) {
  .services_container .card{
    width: 100%;
  }
}
